.custom-home-menu {
  background-color: #1890ff; // hoặc dùng token @primary-color nếu dùng less
  border-bottom: none;

  .ant-menu-item, .ant-menu-submenu-title {
    color: #fff;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .ant-menu-item-selected {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-weight: 600;
  }

  .ant-menu-submenu {
    .ant-menu-submenu-arrow {
      color: #fff;
    }
  }

  .ant-menu-submenu-popup {
    background-color: #1890ff;

    .ant-menu-item {
      color: #fff;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    .ant-menu-item-selected {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
